.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0 0 1em #00000022;
}

.content-text h1 {
  font-size: 2rem;
}