/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0.5rem 1rem; 
  background-color: #101530;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0.5rem;   
  box-shadow: 0 0 0.5em #00000022; 
}

.logo {
  height: 3em; 
  padding: 0.5em; 
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);  
}

.navbar-logo {
  margin-right: 3rem;  
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem; 
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 4rem; 
  justify-content: center; 
}

.navbar-links a {
  position: relative; 
  color: #fff;
  text-decoration: none;
  font-size: 2rem;  
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #7b0404;
  transition: width 0.3s ease, background-color 0.3s ease;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
  left: 0;
  background: #646cffaa;
}

.navbar-links a:hover {
  text-decoration: none;
}
